 
.bottomtext {
    color: #617f10;
    font-family: verdana;
    margin-bottom: 0px;
    margin-top: 6px;
    font-size: 90%;
}

.bottomtext_div {
    margin-right: 3px;
}

.centered {
    display: none;
    text-align: center;
    font-family: verdana;
    color: #444;
    font-size: 90%;
    margin-bottom: 5px;
} 
.tl{
    float: right;
    margin: -99px 15px;
    font-size: 17px;
    /* background: #eabf31; */
    color: #bbb;
    /* padding: 5px; */
    /* border-radius: 12px; */
    /* border: 2px solid #a1a1a1; */
}

.tl span{
     /* padding: 12px; */
    /*background: #fff;*/
    float: right;
    /* border: 3px solid #ffe8a4; */
    /* width: 56px; */
}
.tl p{
margin:0;
}
.tl img{
    width: 38px;
    height: 37px;
    /* border: 2px solid #31393e; */
    border-radius: 26px;
}
.code_input,
.result_output {
    border: 1px solid #c3c3c3;
    width: 100%;
    height: 400px;
    background-color: #ffffff;
    color: #000000;
    -moz-box-shadow: 3px 3px 3px #888;
    -webkit-box-shadow: 3px 3px 3px#888;
    box-shadow: 1px 1px 5px #888;
    margin: 36px 9px;
}

.run{
    margin-top: 33px;
}
.code_input {
    height: 382px !important;
}

.maintable {
    width: 100%;
    /* background-color: #e5eecc; */
    color: #000000;
    /* border: solid #c3c3c3 1px; */
    margin-left: 0px;
    border-spacing: 9px 3px;
    padding: 45px 8px;
    background: #ffffff;
}
 

.result_header {
    color: #617f10;
    margin-bottom: 12px;
    margin-top: 0px;
    font-family: verdana;
    font-size: 90%;
}

.toptext {
    color: #617f10;
    font-family: verdana;
    margin-top: 0px;
    margin-bottom: 8px;
    font-size: 120%;
}

body {
    color: #000000;
    background-color: #ffffff;
    margin:0;
    font-size: 15px;
    background: #31393e;
}

textarea {
    font-family: monospace !important;
    font-size: 9pt;
}

.activeline {
    background: #f7f7f7  !important;
}

button {
    /* background: #333; */
    /* background: -webkit-gradient(linear, left top, left bottom, from(#e46c6c), to(#f1f1f1)); */
    background: -moz-linear-gradient(top, #f5f5f5, #f1f1f1);
    background: -o-linear-gradient(top, #f5f5f5, #f1f1f1);
    border: solid 1px #d9d9d9;
    /* border-radius: 2px; */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    color: #1d9e11;
    /* font-weight: bold; */
    margin: 0 0 0 16px;
    /* padding: 6px 12px; */
    transition: all .218s ease;
    -o-transition: all .218s ease;
    -moz-transition: all .218s ease;
    -webkit-transition: all .218s ease;
    /* color: #fff; */
}

button:hover {
    background: #f50;
    /*background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f1f1f1));*/
    background: -moz-linear-gradient(top, #f8f8f8, #f1f1f1);
    background: -o-linear-gradient(top, #f8f8f8, #f1f1f1);
    ;
    border: solid 1px #c0c0c0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    color: #fff;
}

.Y-S-qa button:active {
    background: #f4f4f4;
    background: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#f1f1f1));
    background: -moz-linear-gradient(top, #f6f6f6, #f1f1f1);
    background: -o-linear-gradient(top, #f6f6f6, #f1f1f1);
    ;
    border: solid 1px #bbb;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    color: #333
}

button:active {
    background: #f4f4f4;
    background: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#f1f1f1));
    background: -moz-linear-gradient(top, #f6f6f6, #f1f1f1);
    background: -o-linear-gradient(top, #f6f6f6, #f1f1f1);
    ;
    border: solid 1px #bbb;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    color: #333
}

button[disabled] {
    background-color: #f6f6f6;
    border: solid 1px #ddd;
    color: #bbb
}

#feedback {
    position: fixed;
    bottom: 0px;
    right: 46%;
    font-size: 0;
    z-index: 200;
    -moz-box-shadow: 0 -1px 1px rgba(0, 0, 0, .05);
    -ms-box-shadow: 0 -1px 1px rgba(0, 0, 0, .05);
    -webkit-box-shadow: 0 -1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 -1px 1px rgba(0, 0, 0, .05);
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px
}

#feedback a {
    display: inline-block;
    vertical-align: top;
    padding: 10px;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    background: #717171;
    color: #fff;
    border-top: 1px solid #dcdcdc;
    background-image: -moz-linear-gradient(top, #7b7b7b 0, #717171 100%);
    background-image: -ms-linear-gradient(top, #7b7b7b 0, #717171 100%);
    background-image: -o-linear-gradient(top, #7b7b7b 0, #717171 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #7b7b7b), color-stop(100%, #717171));
    background-image: -webkit-linear-gradient(top, #7b7b7b 0, #717171 100%);
    background-image: linear-gradient(to bottom, #7b7b7b 0, #717171 100%);
    font-family: arial, sans serif !important;
}

#feedback a:hover,
#feedback a:focus,
#feedback a:active {
    background-image: -moz-linear-gradient(top, #717171 0, #616161 100%);
    background-image: -ms-linear-gradient(top, #717171 0, #616161 100%);
    background-image: -o-linear-gradient(top, #717171 0, #616161 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #717171), color-stop(100%, #616161));
    background-image: -webkit-linear-gradient(top, #717171 0, #616161 100%);
    background-image: linear-gradient(to bottom, #717171 0, #616161 100%)
}

#feedback .start {
    border-right: 1px solid #a1a1a1;
    -moz-border-radius-topleft: 2px;
    -webkit-border-top-left-radius: 2px;
    border-top-left-radius: 2px
}

#feedback .end {
    border-left: 1px solid #676767;
    -moz-border-radius-topright: 2px;
    -webkit-border-top-right-radius: 2px;
    border-top-right-radius: 2px
}

span.CodeMirror-matchhighlight {
    background: #e9e9e9
}

.CodeMirror-focused span.CodeMirror-matchhighlight {
    background: #e7e4ff;
    !important
}

#saveBG {
    position: fixed;
    top: 1px;
    right: 1px;
    font-size: 0;
    z-index: 200;
    -moz-box-shadow: 0 -1px 1px rgba(0, 0, 0, .05);
    -ms-box-shadow: 0 -1px 1px rgba(0, 0, 0, .05);
    -webkit-box-shadow: 0 -1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 -1px 1px rgba(0, 0, 0, .05);
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px
}
 
#unlockBG {
    position: fixed;
    bottom: -2px;
    right: 1px;
    font-size: 0;
    z-index: 200;
    -moz-box-shadow: 0 -1px 1px rgba(0, 0, 0, .05);
    -ms-box-shadow: 0 -1px 1px rgba(0, 0, 0, .05);
    -webkit-box-shadow: 0 -1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 -1px 1px rgba(0, 0, 0, .05);
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px
}

#disableTitleBG {
    position: fixed;
    top: 67px;
    right: 4px;
    font-size: 0;
    z-index: 200;
    -moz-box-shadow: 0 -1px 1px rgba(0, 0, 0, .05);
    -ms-box-shadow: 0 -1px 1px rgba(0, 0, 0, .05);
    -webkit-box-shadow: 0 -1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 -1px 1px rgba(0, 0, 0, .05);
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px
}

#disableTitleBG label {
    display: inline-block;
    vertical-align: top;
    padding: 10px;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    background: #717171;
    color: #fff;
    border-top: 1px solid #dcdcdc;
    background-image: -moz-linear-gradient(top, #7b7b7b 0, #717171 100%);
    background-image: -ms-linear-gradient(top, #7b7b7b 0, #717171 100%);
    background-image: -o-linear-gradient(top, #7b7b7b 0, #717171 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #7b7b7b), color-stop(100%, #717171));
    background-image: -webkit-linear-gradient(top, #7b7b7b 0, #717171 100%);
    background-image: linear-gradient(to bottom, #7b7b7b 0, #717171 100%);
    font-family: verdana !important;
}

#disableTitleBG .start {
    border-right: 1px solid #a1a1a1;
    -moz-border-radius-topleft: 2px;
    -webkit-border-top-left-radius: 2px;
    border-top-left-radius: 2px
}

#disableTitleBG .end {
    border-left: 1px solid #676767;
    -moz-border-radius-topright: 2px;
    -webkit-border-top-right-radius: 2px;
    border-top-right-radius: 2px
}

#syntaxHiliteBG {
    position: fixed;
    top: 67px;
    left: 4px;
    font-size: 0;
    z-index: 200;
    -moz-box-shadow: 0 -1px 1px rgba(0, 0, 0, .05);
    -ms-box-shadow: 0 -1px 1px rgba(0, 0, 0, .05);
    -webkit-box-shadow: 0 -1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 -1px 1px rgba(0, 0, 0, .05);
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px
}

#syntaxHiliteBG label {
    display: inline-block;
    vertical-align: top;
    padding: 10px;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    background: #717171;
    color: #fff;
    border-top: 1px solid #dcdcdc;
    background-image: -moz-linear-gradient(top, #7b7b7b 0, #717171 100%);
    background-image: -ms-linear-gradient(top, #7b7b7b 0, #717171 100%);
    background-image: -o-linear-gradient(top, #7b7b7b 0, #717171 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #7b7b7b), color-stop(100%, #717171));
    background-image: -webkit-linear-gradient(top, #7b7b7b 0, #717171 100%);
    background-image: linear-gradient(to bottom, #7b7b7b 0, #717171 100%);
    font-family: verdana !important;
}

#syntaxHiliteBG .start {
    border-right: 1px solid #a1a1a1;
    -moz-border-radius-topleft: 2px;
    -webkit-border-top-left-radius: 2px;
    border-top-left-radius: 2px
}

#syntaxHiliteBG .end {
    border-left: 1px solid #676767;
    -moz-border-radius-topright: 2px;
    -webkit-border-top-right-radius: 2px;
    border-top-right-radius: 2px
}